<div class="login-container container">
  <div class="row min-vh-100 align-items-center">

    <!-- Left panel -->
    <div class="col-md-8 px-4">
      <img src="img/loginhome.png" alt="theme image" class="fixed-image"/>
    </div>

    <!-- Right panel - Login Form -->
    <div class="col-md-4">
        <div class="login-form-panel">
          <h3 class="h3 fw-bold text-center mb-3 text-white">Surf Me - Log In</h3>
          <p class="text-center text-secondary mb-3">
            Enter your credential to access multiple services in a single solution.
          </p>
          <form [formGroup]="loginForm" (ngSubmit)="btnLoginClick()">
            <div class="mb-2">
              <label for="txtLoginName" class="form-label">User Name</label>
              <input type="text" formControlName="UserName" maxlength="25" class="form-control rounded-pill" name="userName" placeholder="Eg: johnpaul">
              <div *ngIf="loginForm.get('UserName')?.touched && loginForm.get('UserName')?.invalid" class="validationMsg">
                <small *ngIf="loginForm.get('UserName')?.errors?.['required']">Please enter name</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" formControlName="Password" maxlength="25" class="form-control rounded-pill" name="password" placeholder="********">
              <div *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.invalid" class="validationMsg">
                <small *ngIf="loginForm.get('Password')?.errors?.['required']">Please enter password</small>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me">
                <label class="form-check-label text-white-50" for="remember-me">
                  Remember me
                </label>
              </div> -->
              <a routerLink="/under-construction" class="text-decoration-none text-gold fw-medium">
                Forgot password?
              </a>
            </div>
            <div class="d-grid mb-2">
              <button type="submit" class="btn btn-primary rounded-pill">
                Log In
              </button>
            </div>
            <div class="text-center">
              <small class="text-white-50">
                Don't have an account?
                <a routerLink="/under-construction" class="text-decoration-none text-gold fw-medium">Sign Up</a>
              </small>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>