
    /* Top bar */
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px 17px;
      background-color: #111;
      font-size: 20px;
      font-weight: bold;
    }

    /* Container for middle boxes */
    .box-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      height: calc(100vh - 70px); /* Full height minus top bar */
    }

    .box {
      width: 180px;
      height: 180px;
      background-color: #111;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      color: yellow;
    }

    .box:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px yellow;
    }

    .box i {
      font-size: 60px;
      margin-bottom: 15px;
    }

    .app-logo{
        max-width: 150px;
    }

@media only screen and (max-width: 700px){
    .top-bar{
        padding: 13px 7px;
    }
}